<div class="row g-5 mb-5">
  <div>
    <!-- <h3 class="fw-bold border-bottom pb-3 mb-5">Kaiwen Cai</h3> -->
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }} at {{ contact.department }}, {{ contact.institution }} </p>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Office: {{ contact.office }}, {{ contact.institution_address }}</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;600&display=swap" rel="stylesheet"> 
  <style>
    h3 {
        font-family: 'Source Serif Pro', Condiment, cursive;
        font-size: 30px;
        text-align: left;
      }      
  </style>
</head>