<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <!-- <span class="fs-4 fw-bold">{{ site.title }}</span> -->
      <!-- <span class="fs-4 fw-bold">Home</span> -->
      <h4>Home</h4>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;600&display=swap" rel="stylesheet"> 
  <style>
    span {
        font-family: 'Source Serif Pro', Condiment, cursive;
        font-size: 30px;
        text-align: left;
      }      
  </style>
</head>
