<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Selected Publications</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <p> <b> <a href='courses/AutoPlace.html' >  [ICRA'22] AutoPlace: Robust Place Recognition with Single-Chip Automotive Radar </b></a></br>
        <u>Cai, Kaiwen</u>, Wang, Bing, and Lu, Chris Xiaoxuan
In 2022 IEEE International Conference on Robotics and Automation.</b> </p>
        <p> <b>[SenSys'21] Can Image Style Transfer Save Automotive Radar? </b></br>
        Deng, Jianning, <u>Kaiwen Cai</u>, and Chris Xiaoxuan Lu
In Proceedings of the 19th ACM Conference on Embedded Networked Sensor Systems. 2021.</b> </p>
        <!-- <p><a href="{{ item.url }}">{{ item.name }}</a></p> -->
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
